#expected_letter {
    border: #ccc 1px solid;
    clear: both;
    font-size: 40px;
    height: 40px;
    margin: auto;
    text-align: center;
    width: 40px;
}

#selected_sentece {
    margin: auto;
    width: 800px;
    font-family: verdana;
}

div.left {
    font-weight: bold;
    font-family: verdana;
}

div.inline {
    font-size: 40px;
    float: left;
    width: 40px;
    height: 40px;
    border-bottom: #ccc 1px solid;
    margin: 5px;
    text-align: center;
}

div.left {
    font-family: verdana;
    font-weight: bold;
}

div.inline {
    border-bottom: #ccc 1px solid;
    float: left;
    font-size: 40px;
    height: 40px;
    margin: 5px;
    text-align: center;
    width: 40px;
}

#wrong_letters {
    background: #ddd;
    clear: both;
    font-size: 30px;
    margin: auto;
    text-align: center;
    width: 800px;
    padding: 10px;
    height: 50px;
}

#wrong_letters div {
    border: #fff 1px solid;
    display: inline;
    color: white;
    font-family: verdana;
    font-size: 40px;
    font-weight: bold;
    margin-top: 10px;
    padding: 5px;
}

#github_stuffs {
    margin-top: 10px;
    text-align: center;
}
